* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.footer {
    padding: 30px 40px;
    width: 100%;
    background:rgb(250, 206, 220);
}

.footer .container {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer .container .about {
    max-width: 30%;
}

.footer .container .about .logo {
    margin-bottom: 30px;
}

.footer .container .about .detail p {
    margin-top: 20px;
    font-size: 16px;
    color: brown;
    font-weight: 500;
}

.footer .container .about .detail .icon {
    margin-top: 20px;
    display: flex;
}

.footer .container .about .detail .icon li {
    margin-left: 20px;
    font-size: 20px;
    list-style: none;
    /* padding: 10px 10px; */
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    cursor: pointer;
    transition: 0.5s;
}

.footer .container .about .detail .icon li:hover {
    color: pink;
}

.footer .container .account {
    margin-right: 90px;
    margin-top: 30px;
}

.footer .container .account h3 {
    font-size: 23px;
    color: brown;
}

.footer .container .account ul {
    margin-top: 10px;
    margin-left: 20px;
}

.footer .container .account ul li {
    margin-top: 5px;
    color: black;
    font-size: 16px;
    transition: 0.5s;
    cursor: pointer;
    list-style: none;
}

.footer .container .account ul li:hover {
    color: darkred;
}


.footer .container .page {
    margin-right: 90px;
    margin-top: 30px;
}

.footer .container .page h3 {
    font-size: 23px;
    color: brown;
}

.footer .container .page ul {
    margin-top: 10px;
    margin-left: 20px;
}

.footer .container .page ul li {
    margin-top: 5px;
    color: black;
    font-size: 16px;
    transition: 0.5s;
    cursor: pointer;
    list-style: none;
}

.footer .container .page ul li:hover {
    color: darkred;
}